<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <h1>Reset password for <%= email %> </h1>
    <form action="" method="POST" >
        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <br>

        <label for="passwordRe">Repeat password</label>
        <input type="password" name="passwordRe" id="passwordRe">
        <br>

        <input type="submit" value="RESET PASSWORD">
    </form>


</head>
<body>
    
</body>
</html>